/* CSS for PeliculaCard component */

.pelicula-card[b-733gyzqola]{
    max-width: 200px;
    flex-shrink: 0;
}

.pelicula-card img[b-733gyzqola]{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}